@media (prefers-color-scheme: dark) {
    [data-color-mode][data-color-mode="auto"][data-dark-theme="dark"], [data-color-mode][data-color-mode="auto"][data-dark-theme="dark"] ::backdrop {
        --bgColor-default: #000000;
        --borderColor-default: #000000;
    }
}
